In [1]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# read the input data set
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [9]:
# one hot encoding
insurance_one_hot = pd.get_dummies(insurance, columns=["sex", "smoker", "region"])
insurance_one_hot

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0,0,1,0,0
1334,18,31.920,0,2205.98080,1,0,1,0,1,0,0,0
1335,18,36.850,0,1629.83350,1,0,1,0,0,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0,0,0,0,1
1337,61,29.070,0,29141.36030,1,0,0,1,0,1,0,0

In [16]:
# Create features and labels
x = insurance_one_hot.drop("charges", axis=1)
y = insurance_one_hot["charges"]

In [21]:
# Split train and test data
from operator import le
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20, random_state=42)
len(x), len(x_train), len(x_test)

(1338, 1070, 268)

In [26]:
# Build a neural network
from statistics import mode


tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(10),
    tf.keras.layers.Dense(1)
])

model.compile(loss=tf.keras.losses.MAE, 
    optimizer=tf.keras.optimizers.SGD(),
    metrics=["mae"]
)

model.fit(x_train, y_train, epochs=100)

Epoch 1/100
34/34 [==============================] - 0s 4ms/step - loss: 8637.1006 - mae: 8637.1006
Epoch 2/100
34/34 [==============================] - 0s 4ms/step - loss: 7886.7769 - mae: 7886.7769
Epoch 3/100
34/34 [==============================] - 0s 4ms/step - loss: 7558.1475 - mae: 7558.1475
Epoch 4/100
34/34 [==============================] - 0s 4ms/step - loss: 7792.0229 - mae: 7792.0229
Epoch 5/100
34/34 [==============================] - 0s 4ms/step - loss: 7748.3896 - mae: 7748.3896
Epoch 6/100
34/34 [==============================] - 0s 3ms/step - loss: 7595.3955 - mae: 7595.3955
Epoch 7/100
34/34 [==============================] - 0s 3ms/step - loss: 7589.9844 - mae: 7589.9844
Epoch 8/100
34/34 [==============================] - 0s 3ms/step - loss: 7698.5596 - mae: 7698.5596
Epoch 9/100
34/34 [==============================] - 0s 4ms/step - loss: 7496.7788 - mae: 7496.7788
Epoch 10/100
34/34 [==============================] - 0s 3ms/step - loss: 7493.1743 - mae: 7493.1743
Epoch 11/100
34/34 [==============================] - 0s 3ms/step - loss: 7769.7310 - mae: 7769.7310
Epoch 12/100
34/34 [==============================] - 0s 3ms/step - loss: 7706.9048 - mae: 7706.9048
Epoch 13/100
34/34 [==============================] - 0s 3ms/step - loss: 7687.7227 - mae: 7687.7227
Epoch 14/100
34/34 [==============================] - 0s 3ms/step - loss: 7689.8994 - mae: 7689.8994
Epoch 15/100
34/34 [==============================] - 0s 3ms/step - loss: 7393.5332 - mae: 7393.5332
Epoch 16/100
34/34 [==============================] - 0s 3ms/step - loss: 7780.6987 - mae: 7780.6987
Epoch 17/100
34/34 [==============================] - 0s 3ms/step - loss: 7578.5122 - mae: 7578.5122
Epoch 18/100
34/34 [==============================] - 0s 3ms/step - loss: 7750.8350 - mae: 7750.8350
Epoch 19/100
34/34 [==============================] - 0s 3ms/step - loss: 7739.2158 - mae: 7739.2158
Epoch 20/100
34/34 [==============================] - 0s 3ms/step - loss: 7875.0654 - mae: 7875.0654
Epoch 21/100
34/34 [==============================] - 0s 3ms/step - loss: 7466.6772 - mae: 7466.6772
Epoch 22/100
34/34 [==============================] - 0s 3ms/step - loss: 7941.2329 - mae: 7941.2329
Epoch 23/100
34/34 [==============================] - 0s 3ms/step - loss: 7640.2725 - mae: 7640.2725
Epoch 24/100
34/34 [==============================] - 0s 3ms/step - loss: 7539.2676 - mae: 7539.2676
Epoch 25/100
34/34 [==============================] - 0s 3ms/step - loss: 7619.9663 - mae: 7619.9663
Epoch 26/100
34/34 [==============================] - 0s 3ms/step - loss: 7644.1709 - mae: 7644.1709
Epoch 27/100
34/34 [==============================] - 0s 3ms/step - loss: 7709.0376 - mae: 7709.0376
Epoch 28/100
34/34 [==============================] - 0s 3ms/step - loss: 7366.8662 - mae: 7366.8662
Epoch 29/100
34/34 [==============================] - 0s 3ms/step - loss: 7444.3154 - mae: 7444.3154
Epoch 30/100
34/34 [==============================] - 0s 3ms/step - loss: 7616.4097 - mae: 7616.4097
Epoch 31/100
34/34 [==============================] - 0s 3ms/step - loss: 7686.3853 - mae: 7686.3853
Epoch 32/100
34/34 [==============================] - 0s 3ms/step - loss: 7548.0996 - mae: 7548.0996
Epoch 33/100
34/34 [==============================] - 0s 3ms/step - loss: 7501.5537 - mae: 7501.5537
Epoch 34/100
34/34 [==============================] - 0s 3ms/step - loss: 7363.4160 - mae: 7363.4160
Epoch 35/100
34/34 [==============================] - 0s 4ms/step - loss: 7295.4473 - mae: 7295.4473
Epoch 36/100
34/34 [==============================] - 0s 3ms/step - loss: 7569.8823 - mae: 7569.8823
Epoch 37/100
34/34 [==============================] - 0s 3ms/step - loss: 7548.2002 - mae: 7548.2002
Epoch 38/100
34/34 [==============================] - 0s 3ms/step - loss: 7424.3984 - mae: 7424.3984
Epoch 39/100
34/34 [==============================] - 0s 3ms/step - loss: 7529.7749 - mae: 7529.7749
Epoch 40/100
34/34 [==============================] - 0s 3ms/step - loss: 7467.3237 - mae: 7467.3237
Epoch 41/100
34/34 [==============================] - 0s 3ms/step - loss: 7635.9287 - mae: 7635.9287
Epoch 42/100
34/34 [==============================] - 0s 3ms/step - loss: 7536.8394 - mae: 7536.8394
Epoch 43/100
34/34 [==============================] - 0s 3ms/step - loss: 7616.5864 - mae: 7616.5864
Epoch 44/100
34/34 [==============================] - 0s 3ms/step - loss: 7439.4941 - mae: 7439.4941
Epoch 45/100
34/34 [==============================] - 0s 3ms/step - loss: 7538.0161 - mae: 7538.0161
Epoch 46/100
34/34 [==============================] - 0s 3ms/step - loss: 7415.1465 - mae: 7415.1465
Epoch 47/100
34/34 [==============================] - 0s 3ms/step - loss: 7420.6938 - mae: 7420.6938
Epoch 48/100
34/34 [==============================] - 0s 3ms/step - loss: 7509.9839 - mae: 7509.9839
Epoch 49/100
34/34 [==============================] - 0s 3ms/step - loss: 7541.1123 - mae: 7541.1123
Epoch 50/100
34/34 [==============================] - 0s 3ms/step - loss: 7467.8633 - mae: 7467.8633
Epoch 51/100
34/34 [==============================] - 0s 3ms/step - loss: 7389.3555 - mae: 7389.3555
Epoch 52/100
34/34 [==============================] - 0s 3ms/step - loss: 7499.7754 - mae: 7499.7754
Epoch 53/100
34/34 [==============================] - 0s 3ms/step - loss: 7523.9282 - mae: 7523.9282
Epoch 54/100
34/34 [==============================] - 0s 3ms/step - loss: 7243.3115 - mae: 7243.3115
Epoch 55/100
34/34 [==============================] - 0s 3ms/step - loss: 7429.5869 - mae: 7429.5869
Epoch 56/100
34/34 [==============================] - 0s 3ms/step - loss: 7313.4009 - mae: 7313.4009
Epoch 57/100
34/34 [==============================] - 0s 3ms/step - loss: 7526.3877 - mae: 7526.3877
Epoch 58/100
34/34 [==============================] - 0s 3ms/step - loss: 7542.2671 - mae: 7542.2671
Epoch 59/100
34/34 [==============================] - 0s 3ms/step - loss: 7576.9272 - mae: 7576.9272
Epoch 60/100
34/34 [==============================] - 0s 3ms/step - loss: 7546.4048 - mae: 7546.4048
Epoch 61/100
34/34 [==============================] - 0s 3ms/step - loss: 7351.2280 - mae: 7351.2280
Epoch 62/100
34/34 [==============================] - 0s 3ms/step - loss: 7302.1455 - mae: 7302.1455
Epoch 63/100
34/34 [==============================] - 0s 3ms/step - loss: 7393.0879 - mae: 7393.0879
Epoch 64/100
34/34 [==============================] - 0s 3ms/step - loss: 7442.2886 - mae: 7442.2886
Epoch 65/100
34/34 [==============================] - 0s 3ms/step - loss: 7492.6792 - mae: 7492.6792
Epoch 66/100
34/34 [==============================] - 0s 3ms/step - loss: 7561.9170 - mae: 7561.9170
Epoch 67/100
34/34 [==============================] - 0s 3ms/step - loss: 7340.5137 - mae: 7340.5137
Epoch 68/100
34/34 [==============================] - 0s 3ms/step - loss: 7496.0859 - mae: 7496.0859
Epoch 69/100
34/34 [==============================] - 0s 3ms/step - loss: 7617.0312 - mae: 7617.0312
Epoch 70/100
34/34 [==============================] - 0s 3ms/step - loss: 7641.1943 - mae: 7641.1943
Epoch 71/100
34/34 [==============================] - 0s 3ms/step - loss: 7084.2749 - mae: 7084.2749
Epoch 72/100
34/34 [==============================] - 0s 3ms/step - loss: 7240.4912 - mae: 7240.4912
Epoch 73/100
34/34 [==============================] - 0s 3ms/step - loss: 7283.4888 - mae: 7283.4888
Epoch 74/100
34/34 [==============================] - 0s 3ms/step - loss: 7335.5088 - mae: 7335.5088
Epoch 75/100
34/34 [==============================] - 0s 3ms/step - loss: 7275.6401 - mae: 7275.6401
Epoch 76/100
34/34 [==============================] - 0s 3ms/step - loss: 7313.1860 - mae: 7313.1860
Epoch 77/100
34/34 [==============================] - 0s 3ms/step - loss: 7485.7593 - mae: 7485.7593
Epoch 78/100
34/34 [==============================] - 0s 3ms/step - loss: 7352.2808 - mae: 7352.2808
Epoch 79/100
34/34 [==============================] - 0s 3ms/step - loss: 7520.5713 - mae: 7520.5713
Epoch 80/100
34/34 [==============================] - 0s 3ms/step - loss: 7279.3789 - mae: 7279.3789
Epoch 81/100
34/34 [==============================] - 0s 3ms/step - loss: 7273.8481 - mae: 7273.8481
Epoch 82/100
34/34 [==============================] - 0s 3ms/step - loss: 7176.5210 - mae: 7176.5210
Epoch 83/100
34/34 [==============================] - 0s 3ms/step - loss: 7425.6289 - mae: 7425.6289
Epoch 84/100
34/34 [==============================] - 0s 3ms/step - loss: 7403.1304 - mae: 7403.1304
Epoch 85/100
34/34 [==============================] - 0s 3ms/step - loss: 7356.0083 - mae: 7356.0083
Epoch 86/100
34/34 [==============================] - 0s 3ms/step - loss: 7484.7280 - mae: 7484.7280
Epoch 87/100
34/34 [==============================] - 0s 3ms/step - loss: 7217.6079 - mae: 7217.6079
Epoch 88/100
34/34 [==============================] - 0s 3ms/step - loss: 7261.0000 - mae: 7261.0000
Epoch 89/100
34/34 [==============================] - 0s 4ms/step - loss: 7134.1558 - mae: 7134.1558
Epoch 90/100
34/34 [==============================] - 0s 3ms/step - loss: 7083.4365 - mae: 7083.4365
Epoch 91/100
34/34 [==============================] - 0s 3ms/step - loss: 7254.1782 - mae: 7254.1782
Epoch 92/100
34/34 [==============================] - 0s 3ms/step - loss: 7268.7451 - mae: 7268.7451
Epoch 93/100
34/34 [==============================] - 0s 3ms/step - loss: 7470.5215 - mae: 7470.5215
Epoch 94/100
34/34 [==============================] - 0s 3ms/step - loss: 7210.9541 - mae: 7210.9541
Epoch 95/100
34/34 [==============================] - 0s 3ms/step - loss: 7395.6812 - mae: 7395.6812
Epoch 96/100
34/34 [==============================] - 0s 3ms/step - loss: 7328.0874 - mae: 7328.0874
Epoch 97/100
34/34 [==============================] - 0s 3ms/step - loss: 7230.4399 - mae: 7230.4399
Epoch 98/100
34/34 [==============================] - 0s 3ms/step - loss: 7261.3936 - mae: 7261.3936
Epoch 99/100
34/34 [==============================] - 0s 3ms/step - loss: 7342.5679 - mae: 7342.5679
Epoch 100/100
34/34 [==============================] - 0s 3ms/step - loss: 7106.1709 - mae: 7106.1709

In [27]:
# Check the results
model.evaluate(x_test, y_test)

9/9 [==============================] - 0s 4ms/step - loss: 7023.3296 - mae: 7023.3296

[7023.32958984375, 7023.32958984375]